.files_list{
    border: 2px solid black;
    border-radius: 5px;
}

.file_content{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.upload_loder{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
